<%- include('./partials/header.ejs') ;%>


    <body class="h-100 d-flex flex-column">
        <div class="container-fluid py-5 px-md-5 col d-flex flex-column align-items-center justify-content-center">
            <header class="d-flex align-items-center">
                CARGA AQUI TUS IMAGENES
            </header>
            <main class="col h-100">
                <form class="d-flex flex-column mx-auto gap-3" id='uploadForm' enctype="multipart/form-data">
                    <input type="file" name="image" id="image" accept="image/jpeg, image/png, image/jpg" />
                    <input class="btn btn-primary w-25" type='submit' value='Subir' />
                    <p id="validationErrors"></p>
                </form>
            </main>
        </div>        
            <%- include('./partials/footer'); %>
            <script src="/js/create.js"></script>

    </body>

    </html>