<%- include('./partials/header.ejs') ;%>



<body class="h-100 d-flex flex-column">
 
    <div class="container-fluid py-5 px-md-5 col">
        <header class="d-flex align-items-center justify-content-between">
            <a class="btn btn-primary" href="/create">Agregar Nueva Imagen</a>
        </header>
        <main class="col h-100">
            <section id="gallerie">
                
            </section>
        </main>
    </div>
    <%- include('./partials/footer'); %>
    <script src="/index.js"></script>

</body>

</html>